librosa==0.10.2.post1
EMD-signal==1.6.4
cloudpickle==3.0.0
tokenizers==0.21.0
charset-normalizer==2.0.4
sentry-sdk==2.22.0
MarkupSafe==2.1.3
pickleshare==0.7.5
patsy==1.0.1
fonttools==4.51.0
aiohttp==3.9.5
triton==2.3.0
pydub==0.25.1
cffi==1.16.0
pyparsing==3.0.9
safetensors==0.5.3
wrapt==1.17.2
scipy==1.13.1
opentelemetry-instrumentation-httpx==0.55b1
sip==6.7.12
asttokens==2.4.1
certifi==2025.4.26
torchvision==0.15.2a0
numba==0.59.1
fsspec==2024.3.1
h11==0.16.0
pathos==0.3.3
annotated-types==0.6.0
smmap==5.0.2
wandb==0.19.7
pynndescent==0.5.13
jedi==0.19.1
typing_extensions==4.11.0
PyYAML==6.0.1
TextGrid==1.6.1
contourpy==1.2.0
gmpy2==2.1.2
soxr==0.5.0.post1
idna==3.7
prompt_toolkit==3.0.47
sympy==1.12
yarl==1.9.3
urllib3==1.26.20
pydantic_core==2.18.4
asyncio-atexit==1.0.1
opentelemetry-util-http==0.55b1
pure-eval==0.2.2
opentelemetry-instrumentation-threading==0.55b1
session-info2==0.1.2
matplotlib-inline==0.1.7
GitPython==3.1.44
httpcore==1.0.9
ptyprocess==0.7.0
ucimlrepo==0.0.7
opentelemetry-sdk==1.34.1
tornado==6.4.1
python-dateutil==2.9.0
networkx==3.1
opentelemetry-instrumentation==0.55b1
sounddevice==0.4.6
wcwidth==0.2.13
gitdb==4.0.12
opentelemetry-api==1.34.1
regex==2024.11.6
openpyxl==3.1.5
datasets==3.3.2
executing==2.0.1
soundfile==0.12.1
zipp==3.19.2
ipython==8.25.0
pytz==2024.1
docker-pycreds==0.4.0
pyarrow==19.0.1
statsmodels==0.14.4
h5py==3.14.0
tzdata==2023.3
scikit-base==0.12.0
dill==0.3.9
pycparser==2.21
ewtpy==0.2
importlib_metadata==7.1.0
opentelemetry-instrumentation-requests==0.55b1
decorator==5.1.1
multidict==6.0.4
jupyter_core==5.7.2
opentelemetry-proto==1.34.1
mkl_fft==1.3.10
parso==0.8.4
sktime==0.36.0
stack-data==0.6.2
wheel==0.43.0
numpy==1.24.3
pooch==1.8.2
hdbscan==0.8.40
seaborn==0.13.2
cycler==0.11.0
comm==0.2.2
Pygments==2.18.0
filelock==3.13.1
wfdb==4.1.2
scikit-learn==1.7.1
setuptools==80.9.0
setuptools==70.0.0
platformdirs==4.2.2
multiprocess==0.70.17
Bottleneck==1.3.7
ply==3.11
nest_asyncio==1.6.0
packaging==25.0
PyQt5==5.15.10
pox==0.3.5
kiwisolver==1.4.4
aiosignal==1.2.0
natsort==8.4.0
transformers==4.49.0
sklearn-sfa==0.1.6
async-lru==2.0.5
torch==2.1.2.post304
dgl==2.1.0
debugpy==1.6.7
threadpoolctl==3.6.0
unicodedata2==15.1.0
ipykernel==6.29.4
anndata==0.11.4
pillow==10.3.0
xxhash==3.5.0
pip==24.0
anyio==4.9.0
numexpr==2.8.7
Jinja2==3.1.4
setproctitle==1.3.5
accelerate==1.4.0
mpmath==1.3.0
click==8.1.8
opentelemetry-exporter-otlp-proto-http==1.34.1
PyAudio==0.2.14
legacy-api-wrap==1.4.1
opentelemetry-semantic-conventions==0.55b1
sniffio==1.3.1
msgpack==1.0.8
exceptiongroup==1.2.0
opentelemetry-instrumentation-urllib==0.55b1
frozenlist==1.4.0
POT==0.9.5
googleapis-common-protos==1.70.0
matplotlib==3.8.4
array-api-compat==1.12.0
umap-learn==0.5.7
opentelemetry-exporter-otlp-proto-common==1.34.1
lazy_loader==0.4
pyzmq==25.1.2
pexpect==4.9.0
llvmlite==0.42.0
audioread==3.0.1
protobuf==5.29.3
Brotli==1.0.9
ppft==1.7.6.9
pydantic==2.7.3
psutil==5.9.8
httpx==0.28.1
tqdm==4.66.4
jupyter_client==8.6.2
attrs==23.1.0
joblib==1.4.0
synapseclient==4.8.0
torchdata==0.7.1
et_xmlfile==2.0.0
PyQt5-sip==12.13.0
requests==2.32.2
PySocks==1.7.1
Deprecated==1.2.18
mkl_random==1.2.6
torchaudio==2.1.2
scanpy==1.11.2
huggingface-hub==0.29.1
six==1.16.0
traitlets==5.14.3
mkl-service==2.4.0
pandas==2.1.1
